* {
  box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#main{
  width: 100%;
  height: 50vh;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  box-shadow: 5px 10px 40px rgba(0, 0, 11, 0.2);
  z-index: 1;
}

.logo img{
  height: 60px;
}

ul{
list-style: none;
display: flex;
}

.menu li a{
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color:whitesmoke;
}

a{
  text-decoration: none;
}

.hey 
{
  color:goldenrod;
  font-weight: 500;
  font-size: 19px;
  border-bottom: 2px solid goldenrod;
}

.image{
  width: 600px;
  height: 600px;
}

.image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Content {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.main-text {
  width:500px;
}

.main-text h1{
  text-transform: uppercase;
  font-size: 3em;
  color:black;
  margin: 0px 0px 5px 0px;
  line-height: 40px;
}

.main-text p{
  color: grey;
}

.resume {
  width: 190px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  background-color: lightblue;
  border-radius: 20px;
  box-shadow:  0px 0px 0px 5px rgb(0 0 0 / 86%)
}

.resume:hover{
  background-color:darkred;
  transition: all ease 0.2s;
 }

.menu li a:hover {
  background-color:goldenrod;
  color: white
  box-shadow: 5px 10px 30px rbga(24, 139, 119, 0.2);
  transition: all ease 0.2s;
}
